fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlmodel
langgraph
langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-groq
langchain-cohere
chromadb
pymupdf
python-multipart
python-dotenv