fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlmodel
langgraph
langchain
langchain-community
langchain-chroma
langchain-text-splitters
langchain-groq
langchain-cohere
langchain-huggingface
sentence-transformers
chromadb
pymupdf
python-multipart
python-dotenv